@using WebGrease.Css.Extensions
@model List<HumanResourcesWebsite.Models.Applicant>

@{
    ViewBag.Title = "Applicants";
}

<div class="row">
    <div class="col-xs-12 col-sm-9">
        <h2>Applicants</h2>
    </div>
</div>
<div class="row">
    <div class="col-xs-12 col-sm-9">
        <table class="table table-striped table-bordered">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>DOB</th>
                    <th>Email</th>
                    <th>Phone</th>
                    <th>Job(s) Wanted</th>
                    <th>Date Applied</th>
                    <th>Application Status</th>
                    <th colspan="3">Options</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var applicant in Model)
            {
                    <tr>
                        <td>@applicant.FirstName @applicant.LastName</td>
                        <td>@applicant.DateOfBirth.Date.ToString("MM/dd/yy")</td>
                        <td>@applicant.Email</td>
                        <td class="col-lg-2">@applicant.Phone</td>
                        <td>
                            <ul>
                                @foreach (var job in applicant.JobApplied)
                                {
                                    <li>@job.Title</li>
                                }
                            </ul>
                        </td>
                        <td>@applicant.DateOfApplication.Date.ToString("MM/dd/yy")</td>
                        <td>@applicant.ApplicantStatus</td>
                        <td>@Html.ActionLink("View Resume", "SelectResume", "Admin", new { id = applicant.Id }, null)</td>
                        <td>@Html.ActionLink("Edit", "EditApplicant", "Admin", new { id = applicant.Id }, null)</td>
                        <td>@Html.ActionLink("Delete", "DeleteApplicant", "Admin", new { id = applicant.Id }, null)</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>