@model HumanResourcesWebsite.Models.Job

@{
    ViewBag.Title = "EditJob";
}

<div class="row">
    <div class="col-xs-12 col-sm-9">
        <h2>Edit Job</h2>
    </div>
</div>

@using (Html.BeginForm())
{
    @Html.ValidationSummary(true)
    @Html.HiddenFor(m => m.Id)
    <div class="form-group">
        <p>@Html.ValidationMessageFor(m => m.Title)</p>
        @Html.DisplayNameFor(m => m.Title)
        @Html.TextBoxFor(m => m.Title, new {@class = "form-control"})
    </div>
    <div class="form-group">
        <p>@Html.ValidationMessageFor(m => m.Description)</p>
        @Html.DisplayNameFor(m => m.Description)
        @Html.TextAreaFor(m => m.Description, new {@class = "form-control"})
    </div>
    <div class="dropdown dropdown">
        @Html.DisplayNameFor(m => m.JobStatus)
        @Html.EnumDropDownListFor(m => m.JobStatus, new {@class = "form-control"})
    </div>
    <br/>
        <button class="btn btn-primary">Save</button>
}
